@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600,700');

body, html {
  text-align: center;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

h1{
  color: #c92900;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.split-left {
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://danielmorcodes.github.io/danielmorupdated/bg-1.jpg");
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.split-right {
  background: url("../image/white-waves/");
  height: 100%;
  width: 55%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: #111;
  text-align: center;
}

.right {
  right: 0;
}
#header-content{
  margin-top: 3.5rem;
  
}
img{
  height: 9rem;
  border-radius: 50%;
  border: 2px solid white;
}

.technology{
  padding-bottom: 2rem;
}
.social-icon{
  padding-bottom: 2rem;
}

.fa-github, .fa-twitter, .fa-linkedin-in{
  color: white;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.button{
  padding-top: 2rem;
}
input[type="button"]{
  padding: 0;
  background-color: transparent;
  border: 1px solid white;;
  padding: .5rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  cursor: pointer;
  color: white;
}
input[type="button"]:hover{
  background-color: white;
  color: black;
  transition: ease-in-out .2s;
  font-weight: 400;
  border: none;
}

  /* About Section Starts ----------- */
  .main{
    text-align: justify;
    padding-right: 1rem;
    padding-left: .8rem;
    padding-top: 2rem;
    width: 100%;
  }
  
  blockquote{
    color: black;
    line-height: 2rem;
  }
  
  
  
.projects{
    padding-top: 3rem;
    padding-bottom: 6rem;
}
.projects h1{
    color: white;
}

footer{
  height: 5rem;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}
footer p{
  color: white;
  font-size: 1rem;
  font-weight: 200;
  padding-top: 1.5rem;
}

.main{
  text-align: justify;
  padding-right: 1rem;
  padding-left: .8rem;
  padding-top: 2rem;
  width: 100%;
}
.main h1{
  text-align: center;
}

hr{
  height: .1px;
  background-color: #c92900;
  width: 95%;
}

blockquote{
  color: black;
  line-height: 2rem;
}
footer{
  background-color:transparent;
  position: absolute;
  width: 40%;
  position: fixed;
  z-index: 1;
  margin-top: 450px;
}
footer p{
  color: white;
  font-size: .9rem;
  font-weight: 200;
  z-index: 1;
}


/*  (Small screens) ----------- */
@media only screen  and (max-width : 768px) {

  .split-left{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://danielmorcodes.github.io/danielmorupdated/bg-1.jpg");
  }
  .split-right {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    
  }

  #header-content{
    padding-top: 2.6rem;
  }
  
  img{
    height: 9rem;
    border-radius: 50%;
    border: 2px solid white;
  }
  #intro-text{
    max-width: 80%;
    margin-left: 2.5rem;
  }

  footer{
    position: absolute;
    z-index: 1;
    height: 5rem;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
  }
  footer p{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    padding-top: 1.3rem;
  }
}
